.menu {
  background: #2c3e50;
  padding: 0 20px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      margin-right: 20px;
      a {
        display: block;
        padding: 15px 10px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
      }
      a:hover {
        color: #1abc9c;
      }
      a.active {
        color: #1abc9c;
      }
    }
  }
}
