@import "./reset.scss";

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

html {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
}

button,
input,
textarea,
select,
label {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px;
}
